<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户登录</title>
    <link rel="shortcut icon" href="/caps/image/logo1.png" type="../image/x-icon" />
    <link rel="stylesheet" href="/caps/css/bootstrap.min.css" type="text/css" />
    <script src="/caps/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/caps/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- 引入自定义css文件 style.css -->
    <link rel="stylesheet" href="/caps/css/style.css" type="text/css" />

    <style>
        body {
            margin-top: 20px;
            margin: 0 auto;
        }

        .carousel-inner .item img {
            width: 100%;
            height: 300px;
        }

        .container .row div {
            /* position:relative;
                         float:left; */

        }

        font {
            color: #666;
            font-size: 22px;
            font-weight: normal;
            padding-right: 17px;
        }
    </style>
    <script type="text/javascript">
        function changeImg(obj){
            obj.src="/caps/getImage?time="+new Date().getTime();
        }
    </script>
</head>
<body>

<!-- 引入header.html -->
<th:block th:include="user/header :: header"></th:block>

<div class="container"
     style="width: 98%;
		 height: 460px;
         background: url('/caps/image/zhucedenglu.png') no-repeat;">
    <div class="row">
        <div class="col-md-7">
            <!--<img src="../image/login.jpg" width="500" height="330" alt="会员登录" title="会员登录">-->
        </div>

        <div class="col-md-5">
            <div style="width: 440px; border: 1px solid #E7E7E7; padding: 20px 0 20px 30px; border-radius: 5px; margin-top: 60px; background: #fff;">
                <font>用户登录</font>
                <th:span th:text="${errorInfo}" style="color:red;"></th:span>
                <div>&nbsp;</div>
                <form class="form-horizontal" method="post" action="/caps/login">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword3" name="password"
                                   placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputPassword3" name="verifyCode"
                                   placeholder="请输入验证码">
                        </div>
                        <div class="col-sm-3">
                            <img onclick="changeImg(this)" src="/caps/getImage" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label> <input type="checkbox" name="autoLogin" value="autoLogin"> 自动登录
                                </label>&nbsp;&nbsp;&nbsp;&nbsp; <label>
                                <a href="#">忘记密码</a>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" width="100" value="登录" name="submit"
                                   style="background: url('/caps/image/login.gif') no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 35px; width: 100px; color: white;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 引入footer.html -->
<th:block th:include="user/footer :: footer"></th:block>

</body>
</html>