<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.caps.travel.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.caps.travel.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>

  <select id="customerCountByQueryVo" parameterType="org.caps.travel.entity.QueryVo" resultType="int">
        select count(1) from user
    </select>

  <select id="selectCustomerListByQueryVo" parameterType="org.caps.travel.entity.QueryVo" resultType="org.caps.travel.entity.User">
    select * from USER
    <where>
      <if test="name != null and name != ''">
        username like "%"#{name}"%"
      </if>
    </where>
    limit #{startRow},#{size}
  </select>

  <select id="selectSolrAll" resultType="org.caps.travel.entity.SolrResult">
       SELECT
          `user`.userid AS tr_userid,
          `user`.username AS tr_username,
          `user`.`password` AS tr_password,
          `user`.`name` AS tr_name,
          `user`.email AS tr_email,
          `user`.telephone AS tr_telephone,
          `user`.birthday AS tr_birthday,
          `user`.sex AS tr_sex,
          `user`.state AS tr_state,
          `user`.`code` AS tr_code
       FROM
          `user`
    </select>
</mapper>